/* About.css */

body {
    font-family: 'Montserrat', sans-serif;
    background: #f7f7f7;
  }
  
  .display-4 {
    font-size: 48px;
    color: rgb(41, 41, 202);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  